/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .read-more-state {
   display: none;
 }

 .read-more-target {
   opacity: 0;
   max-height: 0;
   font-size: 0;
   transition: .25s ease;
 }

 .read-more-state:checked ~ .read-more-wrap .read-more-target {
   opacity: 1;
   font-size: inherit;
   max-height: 999em;
 }

 .read-more-state ~ .read-more-trigger:before {
   content: 'Show more';
 }

 .read-more-state:checked ~ .read-more-trigger:before {
   content: 'Show less';
 }

 .read-more-trigger {
   cursor: pointer;
   display: inline-block;
   padding: 0 .5em;
   color: #666;
   font-size: .9em;
   line-height: 2;
   border: 1px solid #ddd;
   border-radius: .25em;
 }
